{% extends "BlogApp/home.html" %}
{% load static %}

{% block extrahead %}
<script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor';</script>
{{ block.super }}
{% endblock %}

{% block my_blog_title %}
Employee Create-Update
{% endblock %}

{% block my_blog_header %}
<header class="masthead" style="background-image: url('/static/BlogApp/assets/img/post-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-15 col-lg-16 col-xl-14">
                <div class="site-heading">
                    <h2>Formulario para guardar/editar Empleado</h2>
                    <span class="subheading">Proyecto Final</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block my_blog_content %}
    <div>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <input type="submit" class="btn btn-primary" value="Guardar Empleado" />
        </form>
    </div>
    <!-- Divider-->
    <hr class="my-4" />
{% endblock %}